<footer class="bg-dark text-light text-center">
    <div>
        <p class="text-center">Video base:</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mm9oIxR8YDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="h5">Edith Adriana Lopez Hernandez &copy;</p>
</footer>